.detalis {
    display: flex;
    justify-content: center;
    &__body {
        width: fit-content;
        display: flex;
        background: #FFFFFFFF;
        padding: 40px;
        border-radius: 25px;
        align-items: center;
        @media screen and (max-width: 790px) {
            flex-direction: column;
        }
    }
    &__img {
        & img {
            border-radius: 25px;
            height: auto;
            width: 100%;
        }
        margin-right: 40px;
        @media screen and (max-width: 790px) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

}

.detalis-info {
    &__item {
        font-size: 24px;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 360px) {
            font-size: 18px;
        }
    }
    &__btn {
        cursor: pointer;
        width: fit-content;
        font-size: 16px;
        border: 1px solid black;
        padding: 8px 10px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        @media screen and (max-width: 360px) {
            font-size: 14px;
        }
    }
}