.dropdown-btn {
    padding: 10px 15px;
    transition: all 0.1s ease;
    min-height: 40px;
    border-radius: 10px;

    &:hover {
        background: #ffffffa4;
    }
}

.dropdown {
    &-block {
        position: relative;

        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}

.btn-sort {
    cursor: pointer;
}

.dropdown-menu {
    width: fit-content;
    background: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 5px;
    border-radius: 5px;
    border: 1px solid black;

    &__item {
        height: 100%;
        margin-bottom: 5px;
        padding: 8px 15px;

        cursor: pointer;

        & input {
            margin-right: 3px;
            cursor: pointer;
        }

        & label {
            cursor: pointer;
        }

        &:not(:last-child) {
            border-bottom: 1px solid black;
        }

    }
}

.header {
    margin-bottom: 30px;
    height: 80px;

    &__body {
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__bg {
        height: 100%;
        background: black;
    }

    &__container {
        height: 100%;
    }

    &__dropdown {
        margin-left: auto;
        display: flex;
    }

    &__logo {
        height: 65px;
        margin-right: 100px;

        &:hover {
            cursor: pointer;
        }

        & img {
            height: 100%;
        }
    }
}