.character {
    color: inherit;
    cursor: pointer;
    display: flex;
    background: #FFFFFFFF;
    border-radius: 20px;
    align-items: center;
    &:hover {
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    }
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }

    &__img {
        margin-right: 60px;
        height: 180px;

        & img {
            height: 100%;
            border-radius: 20px;

        }

        @media screen and (max-width: 500px) {
            margin-bottom: 5px;
        }

        @media screen and (max-width: 500px) {
            margin-right: 0px;
        }
    }

    &__text {
        padding: 10px;
        font-size: 20px;
        letter-spacing: 1.2;
    }
}

.info {
    &__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 30px;
        white-space: nowrap;
    }

    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @media screen and (max-width: 1110px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.text-character {
    &__item {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

}